.Video {
  background-color: none;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 100px;
  border-bottom: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}
